name: Build and Push Docker Image

on:
  workflow_call:
    secrets:
      DIGITALOCEAN_ACCESS_TOKEN:
        required: true
    inputs:
      registry:
        required: true
        type: string
      image_name:
        required: true
        type: string

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Install doctl
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      # Step 3: Build container image
      - name: Build container image
        id: build-container-image
        run: |
          IMAGE_TAG=$(echo $GITHUB_SHA | head -c3)
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          docker build -t ${{ inputs.registry }}/${{ inputs.image_name }}:$IMAGE_TAG .
          # Save the IMAGE_TAG into a file
          echo $IMAGE_TAG > ${{ runner.temp }}/image_tag.txt

      # Step 4: Run Trivy vulnerability scanner
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: 'image'
          image-ref: ${{ inputs.registry }}/${{ inputs.image_name }}:$IMAGE_TAG
          severity: 'CRITICAL,HIGH'
          vuln-type: 'os,library'
          format: 'table'
        env:
          TRIVY_SKIP_DB_UPDATE: false
          TRIVY_SKIP_JAVA_DB_UPDATE: false

      # Step 4: Log in to DigitalOcean Container Registry
      - name: Log in to DigitalOcean Container Registry
        if: github.event.pull_request.merged == true
        run: doctl registry login --expiry-seconds 1200

      # Step 5: Push image to DigitalOcean Container Registry
      - name: Push image to DigitalOcean Container Registry
        if: github.event.pull_request.merged == true
        run: |
          docker push ${{ inputs.registry }}/${{ inputs.image_name }}:$IMAGE_TAG

      # Step 6: Upload IMAGE_TAG artifact
      - name: Upload IMAGE_TAG artifact
        if: github.event.pull_request.merged == true
        uses: actions/upload-artifact@v4
        with:
          name: image-tag
          path: ${{ runner.temp }}/image_tag.txt
