name: CI [dsre-helm-charts] Lint-Test

on:
  workflow_call:
  
jobs:
  lint-test:

    name: Lint & Test
    runs-on: ubuntu-latest
  
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Helm
      uses: azure/setup-helm@v3

    - name: Set up python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Setup Chart Linting
      id: lint
      uses: helm/chart-testing-action@v2.3.1
      with:
        version: v3.7.1

    - name: List changed charts
      id: list-changed
      run: |
          changed=$(ct --config ./.github/configs/ct.yaml list-changed)
          charts=$(echo "$changed" | tr '\n' ' ' | xargs)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
            echo "::set-output name=changed_charts::$charts"
          fi

    - name: Run chart-testing (lint)
      run: ct lint --debug --config ./.github/configs/ct.yaml --lint-conf ./.github/configs/lintconf.yaml

    - name: Create kind cluster
      if: steps.list-changed.outputs.changed == 'true'
      uses: helm/kind-action@v1.2.0
      with:
        version: v0.12.0
        node_image: kindest/node:v1.23.5
    - name: Install Argo Rollouts
      run: |
        kubectl create namespace argo-rollouts || true
        kubectl apply -n argo-rollouts -f https://github.com/argoproj/argo-rollouts/releases/latest/download/install.yaml
    - name: Wait for Argo Rollouts to be ready
      run: |
        kubectl wait --for=condition=available --timeout=120s deployment/argo-rollouts -n argo-rollouts
    - name: Run chart-testing (install)
      if: steps.list-changed.outputs.changed == 'true'    
      run: ct install --config .github/configs/ct.yaml | tee helm-test.log
      
    - name: Run chart-testing (upgrade)
      if: steps.list-changed.outputs.changed == 'true'    
      run: ct install --upgrade --config .github/configs/ct.yaml | tee -a helm-test.log

    - name: Upload logs
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: logs
        path: helm-test.log
