name: Update Helm Chart

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true
    inputs:
      app_name:
        required: true
        type: string
      service_name:
        required: true
        type: string

jobs:
  deploy-to-dev:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout GitOps repository with PAT (passed as secret)
      - name: Checkout GitOps repository
        uses: actions/checkout@v3
        with:
          repository: devops-homelab/homelab-gitops
          token: ${{ secrets.PAT_TOKEN }}
          ref: main

      # Step 2: Download IMAGE_TAG artifact
      - name: Download IMAGE_TAG artifact
        uses: actions/download-artifact@v4
        with:
          name: image-tag
          path: ${{ runner.temp }}

      # Step 3: Read IMAGE_TAG from file and set it as an environment variable
      - name: Set IMAGE_TAG from artifact
        run: |
          IMAGE_TAG=$(cat ${{ runner.temp }}/image_tag.txt)
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

      # Step 4: Update GitOps values.yaml
      - name: Update GitOps values.yaml
        run: |
          sed -i "s|tag:.*|tag: $IMAGE_TAG|" charts/app/${{ inputs.app_name }}/${{ inputs.service_name }}/values/values-dev.yaml
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add charts/app/${{ inputs.app_name }}/${{ inputs.service_name }}/values/values-dev.yaml
          git commit -m "Update ${{ inputs.service_name }} image tag to $IMAGE_TAG"
          git push origin main

  promote-to-staging:
    needs: update-helm-chart
    runs-on: ubuntu-latest
    environment: 
      name: staging
      url: https://github.com

    steps:
      - name: Checkout GitOps repository
        uses: actions/checkout@v3
        with:
          repository: devops-homelab/homelab-gitops
          token: ${{ secrets.PAT_TOKEN }}
          ref: main

      - name: Download IMAGE_TAG artifact
        uses: actions/download-artifact@v4
        with:
          name: image-tag
          path: ${{ runner.temp }}
      
      - name: Set IMAGE_TAG from artifact
        run: |
          IMAGE_TAG=$(cat ${{ runner.temp }}/image_tag.txt)
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

      - name: Update GitOps values.yaml
        run: |
          sed -i "s|tag:.*|tag: $IMAGE_TAG|" charts/app/${{ inputs.app_name }}/${{ inputs.service_name }}/values/values-staging.yaml
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add charts/app/${{ inputs.app_name }}/${{ inputs.service_name }}/values/values-staging.yaml
          git commit -m "Update ${{ inputs.service_name }} image tag to $IMAGE_TAG"
          git push origin main
